<!DOCTYPE html>
<html xmlns:th="http://www.thmeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thmeleaf/layout"
	layout:decorate="~{fragments/main_layout}"
	>
	
<head>
	<title>Course Form Temp</title>

</head>
<body>
	<div layout:fragment="content" class="container mySpace">
	<div class ="alert alert info" th:if="${exist}">
		<p class="text text-center">
			Course exists in the system
			</p>
	</div>
		<div class="jumbotron">
		<form th:action="@{/register}"th:object="${course}" method="post">
			<div class="form-group">
				<label for="course_id" class ="form-control-label">Course ID</label>
				<input type="text" class ="form-control" th:field="*{course_id}" id ="course_id"/>
				<div class ="text text-danger"th:if="${#fields.hasErrors('course_id')}"
				th:errors="*{course_id}"></div>
			</div>
			<div class="form-group">
				<label for="course_name" class ="form-control-label">Course Name</label>
				<input type="text" class ="form-control" th:field="*{course_name}" id ="course_name"/>
				<div class ="text text-danger"th:if="${#fields.hasErrors('course_name')}"
				th:errors="*{course_name}"></div>
			</div>
			<div class="form-group">
				<label for="course_depart" class ="form-control-label">Course Department</label>
				<input type="text" class ="form-control" th:field="*{course_depart}" id ="course_depart"/>
				<div class ="text text-danger"th:if="${#fields.hasErrors('course_depart')}"
				th:errors="*{course_depart}"></div>
			</div>
			<div class="form-group">
				<label for="description" class ="form-control-label">Course Description</label>
				<input type="text" class ="form-control" th:field="*{description}" id ="description"/>
				<div class ="text text-danger"th:if="${#fields.hasErrors('description')}"
				th:errors="*{description}"></div>
			</div>
			<div class="form-group">
				<label for="semester_offer" class ="form-control-label">Semester</label>
				<input type="text" class ="form-control" th:field="*{semester_offer}" id ="semester_offer"/>
				<div class ="text text-danger"th:if="${#fields.hasErrors('semester_offer')}"
				th:errors="*{semester_offer}"></div>
			</div>
			<input type ="submit" value ="Submit" class="btn btn-primary"/>
	
			
			
			</div>
		</form>
	</div>
</body>
</html>